*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }


body {
  background: rgb(214, 214, 214);
  
}
header{

  padding: 3rem;
  padding-bottom: 0rem;
}

h1 {
  text-transform: uppercase;
  font-family: 'Tanker', sans-serif;
  font-size: 5rem;
  color: #B7142E;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
  width: 80%;
  margin: auto;
}

hr{
  margin: 1rem;
  height: .3rem;
  background-color: #B7142E;
  border: none;
}



p{
  font-family: 'Clash Display', sans-serif;
  font-size: 1.5rem;
}

footer{
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #B7142E;
  position: relative;
  bottom:0;
  width: 100%;
  font-family: 'Clash Display', sans-serif;
  color: #fff;
}